[submodule "ldm-lib"]
	path = ldm-lib
	url = https://github.com/LilDataMonster/ldm-lib.git
[submodule "components/ldm-lib"]
	path = components/ldm-lib
	url = https://github.com/LilDataMonster/ldm-lib.git
[submodule "components/ldm-sensors"]
	path = components/ldm-sensors
	url = https://github.com/LilDataMonster/ldm-sensors.git
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
